################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RubiksRaceGame/.vs/RubiksRaceGame/FileContentIndex
/RubiksRaceGame/Discrete.Random.Matrix.Generator/obj
/RubiksRaceGame/Discrete.Random.Matrix.Generator/bin
/RubiksRaceGame/RubiksRaceGame/bin
/RubiksRaceGame/RubiksRaceGame/obj
